body {
	margin: 0;
	overflow: hidden;
}

#config {
	position: absolute;
	display: flex;
}

#ball {
	position: absolute;
	height: 50px;
	width: 50px;
}

#square {
	position: absolute;
	border: red solid 2px;
	z-index: -1;
}
